footer{
    background-color: var(--color-gris-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#newsletter div{
    width:50vw;
    display:flex;
}
#newsletter img {
    width: 24px;
}
#newsletter div form {
    border: 1px solid red;
    width:70%;
}
