*{
    font-family: var(--main-font);
    background-color: var(--body-background-color);
    color:var(--text-color);
    padding:0;
    margin:0;
    font-size: 1rem;
}

body{
    max-width: 1024px;
}

h1{
    font-size: 2rem;
    color:var(--color-azul)
}

h2{
    width:100%;
    text-align: center;
    font-size: 1.4rem;
    color:var(--color-rosa)
}

h3{
    font-size: 1.2rem;
    color:var(--color-gris-oscuro);
}

input {
    border-radius: 50px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
hr{
    margin-bottom: 10px;
}