
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    text-align: center;
}

.serviceForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
   width: 80%;
    margin: 20%;
}

label {
    margin-top: 10px;
}

input,
textarea,
select {
    font-size: 14px;
    padding: 8px;
    margin-top: 5px;
    width: 100%; 
}

button[type="submit"] {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    color:red;
    margin-left: 50%;
}

#notification {
    display: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    body {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        height: 100vh; 
    
    }

    .serviceForm {

        margin-left: 20%;
        padding: 10px;
        width: 80%;
    }
    
}




