:root {
    --body-bg-color: white;
    --text-color:black ;
    --color-rosa: #ED117F;
    --color-azul: #4695ca;
    --color-amarillo: #FFBD59;
    --main-font:  "Lato", sans-serif;
    --color-gris-oscuro: #373737;
    --color-gris-claro: #C3C3C3;
} 